<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/authorService.js"></script>
    <script th:inline="javascript">
        function getAllAuthors() {
            authorService.getAllAuthors(function(data) {
                var authorsTable = $("#authors-table tbody");
                authorsTable.empty();
                $.each(data, function(index, author) {
                    var row = "<tr>";
                    row += "<td>" + author.firstName + "</td>";
                    row += "<td>" + author.lastName + "</td>";
                    row += "<td><button class='btn btn-danger' onclick='deleteAuthor(" + author.id + ")'>Delete</button></td>";
                    row += "</tr>";
                    authorsTable.append(row);
                });
            });
        }

        function createAuthor() {
            var author = {
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val()
            };
            authorService.createAuthor(author, function() {
                getAllAuthors();
                $("#firstName").val("");
                $("#lastName").val("");
            });
        }

        function deleteAuthor(authorId) {
            authorService.deleteAuthorById(authorId, function() {
                getAllAuthors();
            });
        }

        $(function() {
            getAllAuthors();
        });
    </script>
</head>
<body>
<h1>Authors</h1>
<table id="authors-table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<form onsubmit="createAuthor(); return false;">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" required>
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" required>
    </div>
    <button type="submit">Create Author</button>
</form>
</body>
</html>
