<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/bookService.js"></script>
  <script src="/js/authorService.js"></script>
  <script src="/js/publisherService.js"></script>
  <script src="/js/genreService.js"></script>
  <script th:inline="javascript">
    function getAllAuthors() {
      authorService.getAllAuthors(function(authors) {
        var dropdown = document.getElementById("authors-select");
        dropdown.innerHTML = "";

        var option = document.createElement("option");
        option.value = null;
        option.text = "Select Author";
        option.hidden = true;
        option.selected = true;
        option.disabled = true;
        dropdown.appendChild(option);

        authors.forEach(function(author) {
          var option = document.createElement("option");
          option.disabled = false;
          option.value = author.id;
          option.text = author.firstName + " " + author.lastName;
          dropdown.appendChild(option);
        });
      });
    }

    function getAllGenres() {
      genreService.getAllGenres(function(genres) {
        // get the container element
        const container = document.getElementById("checkbox-genres");

        genres.forEach(function(genre) {
          const checkbox = document.createElement('input');
          checkbox.type = 'checkbox';
          checkbox.id = 'checkbox-' + genre.id;
          checkbox.value = genre.id;

          // create the label element
          const label = document.createElement('label');
          label.htmlFor = 'checkbox-' + genre.id;
          label.appendChild(document.createTextNode(genre.name));

          // add the checkbox and label to the container
          container.appendChild(checkbox);
          container.appendChild(label);
        });
      });
    }

    function getAllPublishers() {
      publisherService.getAllPublishers(function(publishers) {
        var dropdown = document.getElementById("publishers-select");
        dropdown.innerHTML = "";

        var option = document.createElement("option");
        option.value = null;
        option.text = "Select Publisher";
        option.hidden = true;
        option.selected = true;
        option.disabled = true;
        dropdown.appendChild(option);


        publishers.forEach(function(publisher) {
          var option = document.createElement("option");
          option.disabled = false;
          option.value = publisher.id;
          option.text = publisher.name;
          dropdown.appendChild(option);
        });
      });
    }


    function getAllBooks() {
      bookService.getAllBooks(function(data) {
        var booksTable = $("#books-table tbody");
        booksTable.empty();
        $.each(data, function(index, book) {
          console.log(book);
          var row = "<tr>";
          row += "<td>" + book.title + "</td>";
          row += "<td>" + book.isbn + "</td>";
          row += "<td>" + book.description + "</td>";
          row += "<td>" + book.author.firstName + ' '+ book.author.lastName + "</td>";
          row += "<td>" + book.publisher.name+"</td>";
          row += "<td>";
          book.genres.forEach(function(genre){
            row += genre.name +",";
          })
          row += "</td>";
          row += "<td><button class='btn btn-danger' onclick='deleteBook(" + book.id + ")'>Delete</button></td>";
          row += "</tr>";
          booksTable.append(row);
        });
      });
    }

    function getGenres() {
        // get the container element
        const container = document.getElementById("checkbox-genres");

        // select all the checkboxes within the container
        const checkboxes = container.querySelectorAll('input[type="checkbox"]');

        // loop through the checkboxes and create an object for each checked one
        const checkedCheckboxes = [];
        for (let i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].checked) {
            checkedCheckboxes.push({ id: checkboxes[i].value });
          }
        }

        // return the array of objects
        return checkedCheckboxes;
      }

    function createBook() {
      var book = {
        title: $("#title").val(),
        isbn: $("#isbn").val(),
        description: $("#description").val(),
        author: {id: $("#authors-select").val()},
        publisher: {id: $("#publishers-select").val()},
        genres: getGenres(),
        picture: ""
      };
      console.log(book);
      bookService.createBook(book, function() {
        getAllBooks();
        $("#title").val("");
        $("#isbn").val("");
        $("#description").val("");
        $("#authors-select").val("");
        $("#publishers-select").val("");
      });



    }

    function deleteBook(bookId) {
      bookService.deleteBookById(bookId, function() {
        getAllBooks();
      });
    }

    $(function() {
      getAllBooks();
      getAllAuthors();
      getAllPublishers();
      getAllGenres();
    });
  </script>
</head>
<body>
<h1>Books</h1>
<table id="books-table">
  <thead>
  <tr>
    <th>Title</th>
    <th>ISBN</th>
    <th>Description</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Genre</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<form onsubmit="createBook(); return false;">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" required>
  </div>
  <div>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" required>
  </div>
  <div id="authors-dropdown">
    <label for="authors-select">Author:</label>
    <select id="authors-select"></select>
  </div>
  <div id="publishers-dropdown">
    <label for="publishers-select">Publisher:</label>
    <select id="publishers-select"></select>
  </div>
  <label for="checkbox-genres">Genres:</label>
  <div id="checkbox-genres"></div>
  <button type="submit">Create Book</button>
</form>
</body>
</html>
