<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Listings</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/listingService.js"></script>
  <script src="/js/bookService.js"></script>
  <script src="/js/bookstoreService.js"></script>
  <script th:inline="javascript">
    function getAllBooks() {
      bookService.getAllBooks(function(books) {
        var dropdown = document.getElementById("books-select");
        dropdown.innerHTML = "";

        var option = document.createElement("option");
        option.value = null;
        option.text = "Select Book";
        option.hidden = true;
        option.selected = true;
        option.disabled = true;
        dropdown.appendChild(option);

        books.forEach(function(book) {
          var option = document.createElement("option");
          option.disabled = false;
          option.value = book.id;
          option.text = book.title + " : " + book.author.firstName + " " + book.author.lastName;
          dropdown.appendChild(option);
        });
      });
    }

    function getAllBookstores() {
      bookstoreService().getAllBookstores(function(bookstores) {
        var dropdown = document.getElementById("bookstores-select");
        dropdown.innerHTML = "";

        var option = document.createElement("option");
        option.value = null;
        option.text = "Select Bookstore";
        option.hidden = true;
        option.selected = true;
        option.disabled = true;
        dropdown.appendChild(option);


        bookstores.forEach(function(bookstore) {
          var option = document.createElement("option");
          option.disabled = false;
          option.value = bookstore.id;
          option.text = bookstore.bookstoreName;
          dropdown.appendChild(option);
        });
      });
    }


    function getAllListings() {
      listingService.getAllListings(function(data) {
        var listingsTable = $("#listings-table tbody");
        listingsTable.empty();
        $.each(data, function(index, listing) {
          console.log(listing);
          var row = "<tr>";
          row += "<td>" + listing.book.title + "</td>";
          row += "<td>" + listing.location.bookstoreName + "</td>";
          row += "<td>" + "$" +listing.price + "</td>";
          row += "<td>" + listing.copies + "</td>";

          row += "</td>";
          row += "<td><button class='btn btn-danger' onclick='deleteListing(" + listing.id + ")'>Delete</button></td>";
          row += "</tr>";
          listingsTable.append(row);
        });
      });
    }

    function createListing() {
      var listing = {
        book: {id: $("#books-select").val()},
        location: {id: $("#bookstores-select").val()},
        price: $("#price").val(),
        copies: $("#copies").val(),
      };
      console.log(listing);
      listingService.createListing(listing, function() {
        getAllListings();
        $("#books-select").val("");
        $("#bookstores-select").val("");
        $("#price").val("");
        $("#copies").val("");
      });



    }

    function deleteListing(listingId) {
      listingService.deleteListingById(listingId, function() {
        getAllListings();
      });
    }

    $(function() {
      getAllListings();
      getAllBooks();
      getAllBookstores();
    });
  </script>
</head>
<body>
<h1>Listings</h1>
<table id="listings-table">
  <thead>
  <tr>
    <th>Book</th>
    <th>Location</th>
    <th>Price</th>
    <th>Copies</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<form onsubmit="createListing(); return false;">
  <div id="books-dropdown">
    <label for="books-select">Book:</label>
    <select id="books-select"></select>
  </div>
  <div id="bookstores-dropdown">
    <label for="bookstores-select">Bookstore:</label>
    <select id="bookstores-select"></select>
  </div>
  <div>
    <label for="price">Price $:</label>
    <input type="text" id="price" required>
  </div>
  <div>
    <label for="copies">Copies:</label>
    <input type="text" id="copies" required>
  </div>
  <button type="submit">Create Listing</button>
</form>
</body>
</html>
