<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listings</title>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

    <!--Services-->
    <script src="/js/authorService.js"></script>
    <script src="/js/bookService.js"></script>
    <script src="/js/bookstoreService.js"></script>
    <script src="/js/genreService.js"></script>
    <script src="/js/notificationService.js"></script>
    <script src="/js/publisherService.js"></script>
    <script src="/js/userService.js"></script>
    <script src="/js/authService.js"></script>
    <script src="/js/listingService.js"></script>
    <script src="/js/component/listingComponent.js"></script>
    <script src="/js/component/fullListingComponent.js"></script>
    <script src="/js/component/bookComponent.js"></script>
    <script src="/js/cartService.js"></script>
    <script th:inline="javascript">

        function getAllBookstores() {
            bookstoreService().getAllBookstores(function(bookstores) {
                var dropdown = document.getElementById("bookstores-select");
                dropdown.innerHTML = "";

                var option = document.createElement("option");
                option.value = "0";
                option.text = "Select Bookstore";
                option.hidden = true;
                option.selected = true;
                option.disabled = true;
                dropdown.appendChild(option);

                bookstores.forEach(function(bookstore) {
                    var option = document.createElement("option");
                    option.disabled = false;
                    option.value = bookstore.id;
                    option.text = bookstore.bookstoreName;
                    dropdown.appendChild(option);
                });
            });
        }

        function getAllAuthors() {
            authorService.getAllAuthors(function(authors) {
                var dropdown = document.getElementById("authors-select");
                dropdown.innerHTML = "";

                var option = document.createElement("option");
                option.value = "0";
                option.text = "Select Author";
                option.hidden = true;
                option.selected = true;
                option.disabled = true;
                dropdown.appendChild(option);

                authors.forEach(function(author) {
                    var option = document.createElement("option");
                    option.disabled = false;
                    option.value = author.id;
                    option.text = author.firstName + " " + author.lastName;
                    dropdown.appendChild(option);
                });
            });
        }
        function getAllGenres() {
            genreService.getAllGenres(function(genres) {
                var dropdown = document.getElementById("genres-select");
                dropdown.innerHTML = "";

                var option = document.createElement("option");
                option.value = "0";
                option.text = "Select Genre";
                option.hidden = true;
                option.selected = true;
                option.disabled = true;
                dropdown.appendChild(option);

                genres.forEach(function(genre) {
                    var option = document.createElement("option");
                    option.disabled = false;
                    option.value = genre.id;
                    option.text = genre.name;
                    dropdown.appendChild(option);
                });
            });
        }

        function getAllBooks() {
            bookService.getAllBooks(function(books) {
                var dropdown = document.getElementById("books-select");
                dropdown.innerHTML = "";

                var option = document.createElement("option");
                option.value = "0";
                option.text = "Select Book";
                option.hidden = true;
                option.selected = true;
                option.disabled = true;
                dropdown.appendChild(option);

                books.forEach(function(book) {
                    var option = document.createElement("option");
                    option.disabled = false;
                    option.value = book.id;
                    option.text = book.title;
                    dropdown.appendChild(option);
                });
            });
        }

        function getListingsFromSearch() {
            var bookstoreId = $("#bookstores-select").val();
            var authorId = $("#authors-select").val();
            var genreId = $("#genres-select").val();
            var bookId = $("#books-select").val();

            if (bookstoreId == null) {
                bookstoreId = 0;
            }
            if (authorId == null) {
                authorId = 0;
            }
            if (genreId == null) {
                genreId = 0;
            }
            if (bookId == null) {
                bookId = 0;
            }

            window.location.href = "http://localhost:8080/listing?bookstoreId=" + bookstoreId + "&authorId=" + authorId + "&genreId=" + genreId + "&bookId=" + bookId
        }

        function getListingIdFromUrl() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('listingId');
        }

        function displayBookDetails(listing) {
            const book = listing.book;
            const genres = book.genres.map(genre => genre.name).join(', ');

            $("#book-img").attr("src", book.picture).attr("alt", book.title);
            $("#book-title").text(book.title);
            $("#book-author").text(book.author.firstName + " " + book.author.lastName);
            $("#book-publisher").text(book.publisher.name);
            $("#book-isbn").text(book.isbn);
            $("#book-genres").text(genres);
            $("#book-description").text(book.description);
            $("#listing-price").text("$" + listing.price);
            $("#listing-location").text(listing.location.bookstoreName);
            $("#listing-copies").text(listing.copies);
        }

        function addToCart(listing) { // Change: Accept listing as an argument
            userService.getCurrentUser(function (user) {
                console.log(user)
                cartService.addItem(user.shoppingCart.id, listing, function () {
                    notificationService.addSuccessNotification('Added to cart.');
                });
            });
        }

        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            var bookstoreQuery = urlParams.get('bookstoreId');
            var authorQuery = urlParams.get('authorId');
            var genreQuery = urlParams.get('genreId');
            var bookQuery = urlParams.get('bookId');
            var listingQuery = urlParams.get('listingId');

            if (bookstoreQuery == null) {
                bookstoreQuery = 0;
            }
            if (authorQuery == null) {
                authorQuery = 0;
            }
            if (genreQuery == null) {
                genreQuery = 0;
            }
            if (bookQuery == null) {
                bookQuery = 0;
            }
            if (listingQuery == null) {
                listingQuery = 0;
            }

            listingService.getListingsBySearch(bookstoreQuery, authorQuery, genreQuery, bookQuery, listingQuery, function (listings) {
                var listingsContainer = $('#listingsContainer');
                for (var i = 0; i < listings.length; i++) {
                    var book = listings[i].book;
                    const listing = listings[i];
                    const bookstore = listings[i].location;
                    var genresString = ""
                    book.genres.forEach(function(genre){
                        genresString += genre.name +",";
                    })
                    var fullListingCard = listingsContainer.fulllistingCard(book.title, book.author.firstName + " " + book.author.lastName, book.publisher.name, book.isbn, genresString, listings[i].price, book.picture, listing, bookstore, listings[i].copies);
                    listingsContainer.append(fullListingCard);
                }
            });

            const listingId = getListingIdFromUrl();
            listingService.getListingById(listingId, function (listing) {
                displayBookDetails(listing);
                $("#add-to-cart").on("click", function () {
                    addToCart(listing);
                });
            });
        });

        $(function() {
            getAllBookstores();
            getAllAuthors();
            getAllGenres();
            getAllBooks();
        });
    </script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h5>Search Options</h5>
    <form onsubmit="getListingsFromSearch(); return false;">
        <div id="bookstores-dropdown" style="float: left">
            <label for="bookstores-select">Bookstore:</label>
            <select id="bookstores-select"></select>
        </div>
        <div id="authors-dropdown" style="float: left; padding-left: 20px">
            <label for="authors-select">Author:</label>
            <select id="authors-select"></select>
        </div>
        <div id="genres-dropdown" style="float: left; padding-left: 20px; padding-right: 20px">
            <label for="genres-select">Genre:</label>
            <select id="genres-select"></select>
        </div>
        <div id="books-dropdown" style="padding-left: 20px">
            <label for="books-select">Book:</label>
            <select id="books-select"></select>
        </div>
        <div class="button-container">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>
<div class="container">
    <h1>Listings</h1>
    <div id="listingsContainer" class="d-flex flex-row flex-wrap justify-content-center gap-3">
    </div>
</div>
<div style="height: 10rem;"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>