<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publisher</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/publisherService.js"></script>
    <script th:inline="javascript">
        function getAllPublishers() {
            publisherService.getAllPublishers(function(data) {
                var publishersTable = $("#publishers-table tbody");
                publishersTable.empty();
                $.each(data, function(index, publisher) {
                    var row = "<tr>";
                    row += "<td>" + publisher.name + "</td>";
                    row += "<td><button class='btn btn-danger' onclick='deletePublisher(" + publisher.id + ")'>Delete</button></td>";
                    row += "</tr>";
                    publishersTable.append(row);
                });
            });
        }

        function createPublisher() {
            var publisher = {
                firstName: $("#name").val(),
            };
            publisherService.createPublisher(publisher, function() {
                getAllPublishers();
                $("#name").val("");
            });
        }

        function deletePublisher(publisherId) {
            publisherService.deletePublisherById(publisherId, function() {
                getAllPublishers();
            });
        }

        $(function() {
            getAllPublishers();
        });
    </script>
</head>
<body>
<h1>All Publisher</h1>
<table id="publishers-table">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h1>Create Publisher</h1>
<form onsubmit="createPublisher(); return false;">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" required>
    </div>
  <button type="submit">Create Publisher</button>
</form>

</body>
</html>