<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publisher</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/publisherService.js"></script>
    <script th:inline="javascript">
        function getAllPublishers() {
            publisherService.getAllPublishers(function(data) {
                var publishersTable = $("#publishers-table tbody");
                publishersTable.empty();
                $.each(data, function(index, publisher) {
                    var row = "<tr>";
                    row += "<td>" + publisher.firstName + "</td>";
                    row += "<td>" + publisher.lastName + "</td>";
                    row += "<td><button class='btn btn-danger' onclick='deletePublisher(" + publisher.id + ")'>Delete</button></td>";
                    row += "</tr>";
                    publishersTable.append(row);
                });
            });
        }

        function createPublisher() {
            var publisher = {
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val()
            };
            publisherService.createPublisher(publisher, function() {
                getAllPublishers();
                $("#firstName").val("");
                $("#lastName").val("");
            });
        }

        function deletePublisher(publisherId) {
            publisherService.deletePublisherById(publisherId, function() {
                getAllPublishers();
            });
        }

        $(function() {
            getAllPublishers();
        });
    </script>
</head>
<body>
<h1>All Publisher</h1>
<table id="publishers-table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h1>Create Publisher</h1>
<form onsubmit="createPublisher(); return false;">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" required>
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" required>
    </div>
  <button type="submit">Create Publisher</button>
</form>

</body>
</html>