<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendations</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/userService.js"></script>
    <script th:inline="javascript">
        function getRecommendations() {
            userService.getCurrentUser(function(user)
            {
                userService.getUserRecommendation(user.id, function (data) {
                    var recommendationTable = $("#recommendation-table tbody");
                    recommendationTable.empty();
                    $.each(data, function(index, book) {
                        console.log(book);
                        var row = "<tr>";
                        row += "<td>" + book.title + "</td>";
                        row += "<td>" + book.isbn + "</td>";
                        row += "<td>" + book.description + "</td>";
                        row += "<td>" + book.author.firstName + ' '+ book.author.lastName + "</td>";
                        row += "<td>" + book.publisher.name+"</td>";
                        row += "<td>";
                        book.genres.forEach(function(genre){
                            row += genre.name +",";
                        })
                        row += "</td>";
                        row += "</tr>";
                        recommendationTable.append(row);
                    });
                });
            });
        }

        $(function() {
            getRecommendations();
        });
    </script>
</head>
<body>
<h1>All Recommendation</h1>
<table id="recommendation-table">
    <thead>
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Description</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Genre</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

</body>
</html>